{color:#fff;}

.bg {
    background: url('/../../img/Library.jpg') no-repeat;
    width: 100%;
    height: 100vh;
    background-size: 100%;
    opacity: 0.9;
}

.form-login {
    position: absolute;
    border: 1px solid #fff;
    padding: 40px 60px;
    margin-top: 15vh;
    -webkit-box-shadow: 6px 17px 26px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 17px 26px 10px rgba(0,0,0,0.75);
    box-shadow: 6px 17px 26px 10px rgba(0,0,0,0.75);
}

.error {
    color:red;
    font-style:italic;
    font-size:10px;
}