<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragments.html :: headerfiles">
    <meta charset="UTF-8">
    <title>Liste des retards</title>
</head>
    <body>
        <div th:insert="fragments/fragments.html :: nav"></div>

        <div class="container-fluid">
            <div class="row justify-content-center">

                <div class="responsive-table-line" style="margin:0px auto;max-width:1500px;"><br/><br/>
                    <p class="text-center">Liste des prêts en retard </p><br/>
                    <table class="table table-hover" style="border: 1px solid #DDD;">
                        <thead>
                            <tr>
                                <th>Titre</th>
                                <th>Date d'emprunt</th>
                                <th>Date de retour</th>
                                <th>Prolongation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each=" loan : ${loans}">
                                <td th:text="${loan.copy.publication.title}"></td>
                                <td th:text="${#temporals.format(loan.loanDate, 'dd-MM-yyyy')}"></td>
                                <td th:text="${#temporals.format(loan.returnDate, 'dd-MM-yyyy')}" style="color: red"></td>
                                <td >
                                    <span if th:if="${loan.extented}" style="font-size: large">Effectuée</span>
                                    <span  th:unless="${loan.extented}"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div th:insert="fragments/fragments.html :: footer" class="footer"></div>
        <div th:insert="fragments/fragments.html :: script"></div>
    </body>
</html>