<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragments.html :: headerfiles">
    <meta charset="UTF-8">
    <title>Liste des retards</title>
</head>
    <body>
        <div th:insert="fragments/fragments.html :: nav"></div>

        <section class="container-fluid">
            <section class="row justify-content-center">
                <div class="responsive-table-line" style="margin:0px auto;max-width:1500px;"><br/><br/>
                    <table class="table table-hover" style="border: 1px solid #DDD;">
                        <thead>
                            <tr>
                                <th scope="col">Titre</th>
                                <th scope="col">Date d'emprunt</th>
                                <th scope="col">Date de retour</th>
                                <th scope="col">Prolongation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each=" loan : ${loans}">
                                <td th:text="${loan.copy.publication.title}"></td>
                                <td th:text="${#temporals.format(loan.loanDate, 'dd-MM-yyyy')}"></td>
                                <td th:text="${#temporals.format(loan.returnDate, 'dd-MM-yyyy')}" style="color: red"></td>
                                <td if th:if="${loan.extented}" style="font-size: large"> Effectuée</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </section>


        <div th:insert="fragments/fragments.html :: footer" class="footer"></div>
        <div th:insert="fragments/fragments.html :: script"></div>
    </body>
</html>