<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lanf="fr">
    <head th:insert="fragments/fragments.html :: headerfiles">
        <meta charset="UTF-8">
        <title>Accueil</title>
    </head>
    <body>
        <div th:insert="fragments/fragments.html :: nav"></div>

        <p>Bienvenue dans l'espace des bibliotheques municipaux de Strasbourg.</p>

        <div th:insert="fragments/fragments.html :: footer" class="footer"></div>
        <div th:insert="fragments/fragments.html :: script"></div>

    </body>
</html>