<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lanf="fr">
    <head th:insert="fragments/fragments.html :: headerfiles">
        <meta charset="UTF-8">
        <title>Connexion</title>
    </head>
    <body>

        <section class="container-fluid bg">
            <section class="row justify-content-center">
                <section class="col-12 col-sm-6 col-md-3">
                    <form class="form-container form-login" action="#" th:action="@{/Login}" th:object="${user}" method="post">
                        <div class="form-group">
                           <input class="form-control" type="text" th:field="*{username}" name="user_name" placeholder="Email"/>
                           <!--span class="error" th:if="${#fields.hasErrors('accountOwnerEmail')}" th:errors="*{accountOwnerEmail}">name error</span-->
                        </div>
                        <div class="form-group">
                           <input class="form-control" type="password" th:field="*{password}" name="password" placeholder="Mot de passe" />
                        </div>
                        <!--div class="form-group"-->
                            <button type="submit" class="btn btn-primary btn-block">Se connecter</button>
                        <!--/div-->

                        <!--span class="error" th:if="${errorMessage}" th:utext="${errorMessage}"></span-->
                    </form>
                </section>
            </section>
        </section>


        <div th:insert="fragments/fragments.html :: footer" class="footer"></div>
        <div th:insert="fragments/fragments.html :: script"></div>
    </body>
</html>