<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:insert="fragments/fragments.html :: headerfiles">
        <meta charset="UTF-8">
        <title>Emprunts</title>
    </head>
    <body>
        <div th:insert="fragments/fragments.html :: nav"></div>

        <section class="container-fluid">
            <section class="row justify-content-center">
                <div class="responsive-table-line" style="margin:0px auto;max-width:1500px;"><br/><br/>
                    <table class="table table-hover" style="border: 1px solid #DDD;">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Titre</th>
                                <th scope="col">Date d'emprunt</th>
                                <th scope="col">Date de retour</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each=" borrowing : ${borrowings}">
                                <td th:text="${borrowing.id}"></td>
                                <td th:text="${borrowing.copy.publication.title}"></td>
                                <td th:text="${borrowing.borrowingDate}"></td>
                                <td>
                                    <span th:if="${borrowing.returnDate > toDay}"><span th:text="${#temporals.format(borrowing.returnDate, 'dd-MM-yyyy')}" style="color: red"/></span>
                                    <span th:unless="${borrowing.returnDate > toDay}"><span th:text="${#temporals.format(borrowing.returnDate, 'dd-MM-yyyy')}"/></span>
                                </td>
                                <td >
                                    <span th:if="${borrowing.extented}"></span>
                                    <span  th:unless="${borrowing.extented}"> <a th:href="@{~/extends(id=${borrowing.id})}" ><button class="btn btn-outline-danger my-2 my-sm-0 btn-sm">Prolonger</button></a> </span>
                                </td>
                            </tr>  
                        </tbody>
                    </table>
                </div>
            </section>
        </section>

        <div th:insert="fragments/fragments.html :: footer" class="footer"></div>
        <div th:insert="fragments/fragments.html :: script"></div>
    </body>
</html>