<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lanf="fr">
    <head th:insert="fragments/fragments.html :: metaInformations">
        <meta charset="UTF-8">
        <title>Connexion</title>
    </head>
    <body>
        <div th:insert="fragments/fragments.html :: header"></div>
        <span  th:object="${session.memberSession}"/>
        <span>Bonjour <span  th:txt="*{accountOwnerFistname}"/> </span>


        <div th:insert="fragments/fragments.html :: footer" class="footer"></div>
        <div th:insert="fragments/fragments.html :: script"></div>

    </body>
</html>