<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lanf="fr">
    <head th:insert="fragments/fragments.html :: headerfiles">
        <meta charset="UTF-8">
        <title>Page personnel</title>
    </head>
    <body>
        <div th:insert="fragments/fragments.html :: nav"></div>

        <div th:object="${session.user}">
            <p>Bonjour <span th:text="*{accountOwnerFirstname}"></span>!</p>
            <p>Bienvenue dans votre espace personnel!</p>
        </div>



        <div th:insert="fragments/fragments.html :: footer" class="footer"></div>
        <div th:insert="fragments/fragments.html :: script"></div>

    </body>
</html>