<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="metaInformations">
        <meta charset="UTF-8">
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    </head>
    <body>

        <!-- Header fragment -->
        <div class="pos-f-t" th:fragment="header">
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark p-4">
                    <h5 class="text-white h4">Bienvenue dans votre espace.</h5>
                    <span class="text-muted"></span>
                </div>
            </div>
            <nav class="navbar navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </div>

        <!-- Scripts fragment -->
        <div th:fragment="script">
            <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js}"></script>
            <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js}"></script>
            <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js}"></script>
            <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
        </div>

        <!-- Footer fragment -->
        <div th:fragment="footer">
            &copy; 2020 Bibliothèques
        </div>

    </body>


</html>