<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lanf="fr">
    <head th:insert="fragments/fragments.html :: headerfiles">
        <meta charset="UTF-8">
        <title>Accueil</title>
    </head>
    <body>
        <header th:insert="fragments/fragments.html :: nav"></header>

        <section class="col-sm-8 bd-content text-center" style="margin:0 auto;min-height: 90vh;">
            <p>Bienvenue dans l'espace des bibliothèques municipales de Strasbourg.</p>
        </section>

        <footer th:replace="fragments/footer.html :: footer" class="footer"></footer>
        <div th:insert="fragments/fragments.html :: script"></div>

    </body>
</html>