<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lanf="fr">
    <head th:insert="fragments/fragments.html :: headerfiles">
        <meta charset="UTF-8">
        <title>Résultats</title>
    </head>
    <body>
        <div th:insert="fragments/fragments.html :: nav"></div>
        <div class="container-fluid">
            <div class="row">

                <main class="col-sm-8 bd-content" style="margin:0 auto;">
                    <br/><br/><p class="text-center"> <b>Résultat de la recherche :</b> </p><br/>
                    <div  th:each=" publication : ${session.publications}">

                        <ul class="list-group">
                            <li class="list-group-item" style="border-width: 0px 0px 1px 0px;border-radius:0;">
                                <a style="text-decoration: none" th:href="@{~/Publication(id=${publication.id})}" th:text="${publication.title}"></a>
                                <div class="aTooltip">
                                    <span th:if="${publication.nbOfAvailableCopies} > 0"> <img th:src="@{/img/green.png}" style="float:right" class="aTooltip" /><br/> </span>
                                    <span th:unless="${publication.nbOfAvailableCopies} > 0"> <img th:src="@{/img/red.png}" style="float:right" class="aTooltip" /><br/> </span>
                                    <span class="aTooltiptext">
                                        <small><span th:text=" ${publication.nbOfAvailableCopies} "></span> exemplaire(s) disponible(s)</small>
                                        <div th:each="copy : ${publication.copies} ">
                                            <span th:if="${copy.isAvailable()}">
                                            <small>-<span th:text=" ${copy.library.name}"></span></small></span>
                                        </div>
                                    </span>
                                </div>
                                <span th:if="${publication.author}"><small th:text="${publication.author.firstname}"></small><small th:text="${publication.author.lastname}"></small><br/></span>
                                <span th:if="${publication.editor}"><small th:text="${publication.editor.name}"></small><br/></span>
                                <span th:if="${publication.category == 'BOOK'}"><small>Date de publication :</small></span>
                                <span th:unless="${publication.category == 'BOOK'}"><small>Date de parution :</small></span>
                                <span><small  th:text="${#temporals.format(publication.publicationDate, 'dd-MM-yyyy')}"></small></span><br/>
                            </li>
                        </ul>

                    </div>
                </main>

            </div>
        </div>

        <footer th:replace="fragments/footer.html :: footer" class="footer"></footer>
        <div th:insert="fragments/fragments.html :: script"></div>

    </body>
</html>