<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lanf="fr">
    <head th:insert="fragments/fragments.html :: headerfiles">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Formulaire de recherche</title>
    </head>
    <body>
        <div th:insert="fragments/fragments.html :: nav"></div>

        <section class="container-fluid">
            <section class="row justify-content-center" style="margin:0 auto;min-height: 90vh;">

                <div class="col-md-6 order-md-1">

                    <form class="form-container"  th:action="@{/Research}" th:object="${researchFormCommand}" method="post">
                        <br/><br/><br/><h6 class="mb-3"><b>Recherche dans le catalogue des librairies</b></h6>

                        <span class="error" th:if="${session.errorResearch}" th:text="${session.errorResearch}"></span><br/><br/>

                        <div class="mb-3">
                            <label for="author">Auteur</label>
                            <input type="text" class="form-control" id="author" th:field="*{autorTextField}">
                        </div>

                        <div class="mb-3">
                            <label for="title">Titre</label>
                            <input type="text" class="form-control" id="title" th:field="*{titleTextField}">
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="category">Catégorie</label>
                                <select class="form-control" th:field="*{selectedCat}" id="category" >
                                    <option value="">Selectioner...</option>
                                    <option th:each="cat : ${category}" th:text="${cat}" th:value="${cat}"></option>
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="editor">Editeur</label>
                                <select class="form-control" th:field="*{selectedEdit}" id="editor" >
                                    <option value="">Selectioner...</option>
                                    <option th:each="edit : ${editor}" th:text="${edit}" th:value="${edit}"></option>
                                </select>
                            </div>

                        </div>

                        <hr class="mb-4">


                        <div th:each=" library : ${libraries}">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input"
                                       th:id="${library.id}"
                                       th:value="${library.id}"
                                       th:field="*{checkboxSelectedValue}">

                                <label class="custom-control-label"
                                       th:for="${library.id}"
                                       th:text="${library.name}"></label>
                            </div>
                        </div>

                        <br/>

                        <button class="btn btn-success btn-lg btn-block" type="submit" style="margin-bottom: 50px;">Rechercher</button>
                    </form>
                </div>

            </section>
        </section>

        <footer th:replace="fragments/footer.html :: footer" class="footer"></footer>
        <div th:insert="fragments/fragments.html :: script"></div>

        <script>
            $(document).ready(function(){
                $('input:checkbox').click(function() {
                    $('input:checkbox').not(this).prop('checked', false);
                });
            });
        </script>
    </body>
</html>